.Overview {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: auto;
  text-align: start;
  height: 100%;
}

.Fab{
  position: fixed;
  left: 40vw;
  top: 78vh;
  z-index: 999;
}
.Div-Fab{
  height: 0;
}

.Month-Buttons{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.Transactions{
  overflow-y: scroll;
}

.Div-Balance{
  align-self:flex-start; 
}

/* .Filters{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;

  padding: 3vh;
  width: 48vw;
} */