@import "../theme.scss";

.App-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  color: $white-text-color;
  background-color: $dark-background-color;

  padding-left: 2vw;
  height: 8vh;
}

.App-header p {
  @extend .headline-2;
}

.App-link {
  @extend .headline-5;

  color: $white-text-color;
  text-decoration: none;

  padding: 1vw;
}

.App-link:hover {
  color: $white-text-color;
  background-color: $color-medium-blue;
  text-decoration: underline;
  border-radius: 6px;
}

.App-link:first-of-type {
  margin-left: 2vh;
}
