@import "../theme.scss";

.newTransaction {
  display: flex;
  background-color: $light-background-color;
  flex-direction: column;
  height: 100%;
}

.header {
  @extend .headline-4;

  display: inherit;
  align-items: center;
  justify-content: center;

  background-color: $dark-background-color;
  color: $white-text-color;

  height: 5.25rem;
}

.form {
  margin-left: 1.875rem;
  margin-right: 0.9375rem;

  display: flex;
  flex-direction: column;

  overflow-y: scroll;

  height: fit-content;
  max-height: 65vh;
}

.informations {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

.informations > * {
  margin-right: 2rem;
}

.persons {
  display: flex;
  flex-wrap: wrap;
}

.persons > * {
  margin-right: 0.9375rem;
  margin-bottom: 0.9375rem;
}
