@import "../theme.scss";

.Transaction {
  color: $text-color;
  background-color: $light-background-color;
}

.Transaction td p {
  @extend .body;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  padding-left: 0.9375rem;
}

.Income {
  border-radius: 0.3125rem;
  border-left: 0.3125rem solid $color-green;
}

.Outcome {
  border-radius: 0.3125rem;
  border-left: 0.3125rem solid $color-red;
}

.Income-Part {
  @extend .Income;
  border-radius: 0;
}

.Outcome-Part {
  @extend .Outcome;
  border-radius: 0;
}
