@import "../theme.scss";

.Transaction-Table {
  width: auto;

  border-collapse: separate;
  border-spacing: 0 0.625rem;
  border-radius: 1rem;
}

th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;

  background-color: $gray-background-color;
}

thead {
  background-color: $gray-background-color;
}
