.Button-Vanilla{
    height: auto;
    border:  0 none ;

    color: white;
    background-color: #00DCC2;
    
    text-justify: center;
    flex: 1 1 0;

    padding: 1vh 1vw 1vh 1vw;

    cursor: pointer;

}

.Selected-Button{
    background-color: rgb(2, 161, 143);
}

@media only screen and (max-width: 600px) {
    .Button-Vanilla {
        font-size: 1.7vh;
        text-justify: center;
    }
}

