@import "./theme.scss";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-y: hidden;
  overflow-x: hidden;

  height: -webkit-fill-available;
}

body {
  font-family: $font-family;
  background-color: $gray-background-color;

  margin: 0;

  width: 100vw;
  min-height: 100vh;
  min-height: -webkit-fill-available;

  overflow-x: hidden;
  overflow-y: hidden;
}
